.galary {
  padding: 94px 0;
}

.galary__title {
  display: none;
}

.galary-button__item {
  &:not(:last-child) {
    margin-right: 8px;
    margin-bottom: 50px;
  }
}

.button {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  color: $c-primery;
  background-color: $bg-team;
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    color: $white-color;
    background-color: $bg-accent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    outline: transparent;
  }

  &:focus {
    color: $white-color;
    background-color: $bg-accent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    outline: transparent;
  }
}

.galary__button {
  padding: 6px 22px;
  border-color: $border_color_1;
  border-radius: 4px;
}

.galary__button--general {
  padding: 6px 25px;
}
.galary-list {
  display: flex;
  padding-left: 0;
  flex-wrap: wrap;
  list-style: none;
}

.galary__item {
  max-width: 370px;
  border: 1px solid #eeeeee;

  &:not(:nth-child(3n+3)) {
    margin-right: 30px;
  }


  &:not(:nth-child(n+7)) {
    margin-bottom: 30px;
  }

}

.galary__link {
  display: block;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: $font_family_1;
  letter-spacing: 0.03em;
  margin: 0 auto;
  color: $c-primery;
  text-decoration: none;

  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    outline: transparent;

    .galary__descriotion {
      transform: translateY(0);
    }
  }

  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    outline: transparent;

    .galary__descriotion {
      transform: translateY(0);
    }
  }
}

.galary-card {
  position: relative;
  overflow: hidden;
}

.galary__descriotion {
  position: absolute;
  background-color: $bg-galary-desc;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.5555;
  letter-spacing: 0.03em;
  transform: translateY(100%);
  overflow: auto;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: $white-color;
  padding: 63px 24px;
}

.galary-desc {
  padding: 20px 24px;
  border: 1px solid var(--border-col);
}

.galary-desc__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.galary-desk__text {
  margin-top: 4px;
  font-size: 16px;
  line-height: 1.88;
  color: $title-text-color;
}