.list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 0;
  list-style: none;

@media screen and (min-width:768px) {

    display: flex;
  }
  @media screen and (max-width:767px) {
    justify-content: start;

  }

@media screen and (min-width:1200px) {
  .list {
      display: flex;
  }
}
}

