.logo {
  display: flex;
  font-family: $font_family_2;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: $c-accent;
  text-decoration: none;
  outline: transparent;
}