.partners__title {
  margin-bottom: 50px;
}

@media screen and (max-width:767px) {
  .partners__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.partner__item {

  fill: var(--bg-partners);
 
 

  // &:not(:last-child) {
  //   margin-right: 30px;
  // }
}
@media screen and (min-width:1600px) {
  .partner__item {
    &:not(:last-child) {
        margin-right: 30px;
      }
    
  }
}

.partner__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 210px;
  height: 92px;
  padding: 13px 32px;
  border: 1px solid var(--bg-partners);
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    fill: var(--c-accent);
    border-color: $border_color_2;
    outline: transparent;
  }

  &:focus {
    fill: var(--c-accent);
    border-color: $border_color_2;
    outline: transparent;
  }
}
@media screen and (min-width:1600px) {
  .partner__link {
    width: 170px;
    height: 92px;
  }
}

.partner__icon {
  fill: inherit;
}